<h1>Editar Ficha</h1>
<%= simple_form_for @aire do |f| %>
<%= f.input :marca , label: "Marca o Fabricante" %>
<%= f.input :modelo_conjunto, label: "Modelo del Conjunto" %>
<%= f.input :modelo_ui, label: "Modelo Unidad Interior" %>
<%= f.input :modelo_ue, label: "Modelo Unidad Exterior" %>
<%= f.button :submit %>
<% end %>
